 .wrapper{
    /* background-image: url(img/zl-logo.png); */
    background-color: #f3f4f6;
} 

.main{
    display: flex;
}

.main > div{
    margin: 5px;
    padding: 5px;
    /* border: none;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.08); */
}
.left{
    width: 28%;
}

.video{
    /* width: 100%;
    height: 280px; */
    width: 403.2px;
    height: 226.8px;
    margin-bottom: 10px;
}
.video video{
    width: 403.2px;
    height: 226.8px;
}

.command{
    width: 100%;
    height: 397px;   
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
    background-image: url('img/output-onlinepngtools.png');
    background-repeat: no-repeat;
          background-position: 50% 0;
          background-size: cover;
          position: relative;
}
.command header {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size:x-large;
    margin-bottom: 30px;
    color: black;
    /* background-image: linear-gradient(gray, black, gray); */
    /* background-color: gray; */
}
.command .nav-pills .nav-link img{
    width: 65px;
    height: 65px;
    
  }
  .command .nav-pills .nav-link img:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
    border: 1px solid black;
  }
.tools{
    padding: 10px;   
}
/* End of left part */

.center{
    width: 44%;
}

.match_time{
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
    color: black;
    margin-bottom: 7px;
    padding: 2.5px;
    background-color: #f3f4f6;
}
.match_time td{
    width: 33%;
    
}
.match_time td img {
    width: 100px;
    height: 100px;
}
.match_time td p {
    text-align: left;
    margin-left: 10px;
}

/* 
Activated streams link drop down menu*/
.dropdown-toggle{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-weight: 600;
    
}
.dropdown-toggle:focus{
    box-shadow: none !important;
}

.dropdown-toggle::after {
    display: none;
    
}

.dropdown-menu{
    width: 200px;
    padding: 0rem 0;
    transform: translate3d(0px, 0px, 0px) !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    background-color: #dc3545;
    padding: 12px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 12px;
}
/* End of
Activated streams link drop down menu*/

.controllers_list{
    padding: 5px;
    font-size: large;
    color: white;
    
    /* height: 480px; */
}

.controllers_list input[type=checkbox]{
    width: 15px;
    height: 15px;

}
.controllers_list input[type=button]{
    
    height: 25px;
}
.controllers{
    padding: 5px;
    font-size: large; 
    position: absolute;
    bottom: 0px;
}
.vmax_button{
    font-size: large;
    color: white;
    padding-top: 10px;
    padding-right: 3px;
}

.controllers input{
    width: 95px;
    height: 35px;
    margin: 4px;
}


.right{
    width: 28%;
}

.app_buttons{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
    padding: 10px;
}

.app_buttons img {
    width: 40px;
    height: 40px;
    display: inline;
    margin-left: 20px;
}  
.right .app_buttons button {
	width: 35px;
	height: 35px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 35px;
	outline: none;
}

.container-fluid{
    position: relative;
}

/* start-stop button of Instant Replay */
.container-fluid .btn-group .replay {
	width: 35px;
	height: 35px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 35px;
	outline: none;
    margin-left: 3px;
}

.notRec{
	background-color: darkred;
}

.Rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
} 

.right .app_buttons td{
    font-size: large;
    font-weight: bold;
}

.controllers .btn-group table td {
    text-align: center;
    padding: 3px;
    margin-left: 50px;
    /* border: 1px solid black; */
}
